*{
    margin: 0;
    padding: 0;
}
header{

width: 100%;
}
.section{
    
width: 80%;
    
margin: 10px auto;
    
display: flex;
    
justify-content: space-between;
}
.logo{

margin-top: 5px;
}
.subscribe{

width: 35%;
}
.subscribe ul{

list-style: none;

display: flex;

justify-content: space-between;
}
.subscribe ul li{
    
padding-top: 18px;
}
.subscribe ul li a{

text-decoration: none;

font-family: 'Roboto', sans-serif;

font-weight: 400;

text-transform: uppercase;

color: #97999b;
}
.section_1{

position: relative;
}
.cover img{

width: 100%;

display: block;
}
.text{

position: absolute;

left: 50%;

top: 50%;

transform: translate(-50%, -50%);

text-align: center;
}
.text h1{

font-family: 'Roboto', sans-serif;

font-weight: 700;

font-size: 40px;

color: #fff;
}
.text p{
    
font-family: 'Roboto', sans-serif;
    
font-weight: 400;
    
text-transform: capitalize;
    
color: #fff;
    
padding: 30px 0 50px 0;
}
.text button{

font-family: 'Roboto', sans-serif;

font-weight: 400;

font-size: 18px;

padding: 15px 30px;

text-transform: capitalize;

background: #fb6e52;

border: 2px solid #fff;

border-radius: 5px;
}
.section_2{

width: 80%;

margin: 50px auto;
}
.prvz{
    
display: flex;
    
justify-content: space-between;
    
padding: 50px 0;
}
.block{
    
width: 30%;
    
text-align: center;
}
.block h1{

font-family: 'Roboto', sans-serif;

font-weight: 400;

text-transform: capitalize;

color: #292c34;

padding: 20px 0;
}
.block p{

font-family: 'Roboto', sans-serif;

font-weight: 400;
    
text-transform: capitalize;
    
color: #97999b;
}
.italic{

width: 80%;

margin: 50px auto;

text-align: center;
}
.italic p{
    
font-family: 'Roboto', sans-serif;
    
font-weight: 400;
    
font-style: italic;
    
font-size: 25px;
    
text-transform: capitalize;
    
color: #fb6e52;
}
.prvz_1{
    
display: flex;
        
justify-content: space-between;
        
padding: 80px 0;
}
.block_1{
        
width: 30%;
        
text-align: center;
}
.block_1 img{
    
width: 100%;
}
.block_1 h1{
    
font-family: 'Roboto', sans-serif;
    
font-weight: 400;
        
text-transform: capitalize;
        
color: #292c34;

padding: 15px 0;
}
.block_1 p{
    
font-family: 'Roboto', sans-serif;
    
font-weight: 400;
        
text-transform: capitalize;
        
color: #97999b;
}
.section_3{

width: 100%;

padding-bottom: 60px;

background: #f9f9f9;
}
.text_1{

width: 100%;

text-align: center;

padding: 80px 0 20px 0;
}
.text_1 h1{
    
font-family: 'Roboto', sans-serif;
    
font-weight: 400;
    
text-transform: uppercase;
    
color: #292c34;
}
.prvz_2{

width: 80%;

margin: 50px auto;

display: flex;

justify-content: space-between;
}
.block_x{

width: 47%;
}
.block_x img{

width: 100%;
}
.block_x h1{

font-family: 'Roboto', sans-serif;

font-weight: 400;

text-transform: uppercase;

color: #fb6e52;

padding: 20px 0;
}
.block_x p{

font-family: 'Roboto', sans-serif;

font-weight: 400;

text-transform: capitalize;

color: #292c34;
}
footer{
    
width: 100%;

background: #292c34;
}
.section_4{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.reserved{

width: 25%;

padding-top: 10px;
}
.reserved ul{

list-style: none;

display: flex;

justify-content: space-between;

align-items: center;
}
.reserved a{

text-decoration: none;

font-family: 'Roboto', sans-serif;

font-weight: 400;

text-transform: capitalize;

color: #97999b;
}
.social{

width: 20%;

padding-top: 13px;
}
.social ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
}
.social li{
    
padding-top: 10px;
}
.social a{
    
color: #fff;
}